.block_article_ad, .ad_title, .avs_iframe, #sinner_container, #all_gad_6125 {
    display: none !important;
}
.reader_pane_sinner {
    padding-right: 0 !important;
}
.parent_div {
    line-height: 32px;
}
.tree_unreaded {
    font-weight: normal;
}
.article_stripe {
    background-color: #f5712c;
}
.ar, .article_unreaded, .article_subscribed, .article_no_thumbnail {
    margin-bottom: 4px;
}
div.parent_div span.tree_unreaded.tree_unseen, div.parent_div .tree_unreaded.tree_unseen + .unread_cnt, div.parent_div .tree_unreaded.tree_unseen + .unread_cnt_wrapper {
    color: #f5712c;
}
